.programasContainer{
    width: 90%;
    max-width: 900px;
    margin:auto;
}

.programasContainer h1{
    margin-bottom: 40px;
}

.filtro{
    display:flex;
    width: 100%;
    gap:20px;
    margin-bottom: 40px;
}

.filtro{
    padding:0px
}

.filtro li{
    cursor: pointer;
    padding: 6px 12px;
    font-weight: bold;
    transition:0.5s
}

.filtro li:hover{
    background-color: rgba(232, 192, 97, 0.5);
    color:#26495c;
    border-radius: 2px;
    transition: 0.5s
}

.introduccion{
    position:relative;
    margin-bottom: 50px;
}

.introduccion::after{
    content:'';
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    background-color: #26495c;
    border-radius: 2px;
    
}