.loginContenedor {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin: 100px auto 150px auto
}

.loginContenedor form {
    display: flex;
    margin-top:20px;
    flex-direction: column;
}