.contenedorForm{
    width: 90%;
    max-width: 500px;   
    padding:10px;
    margin: auto;
    margin-top: 50px; 

}

.contenedorForm .row{
    position: relative;
    width:100%;
    height:40px;
    margin:40px 0px;
}

.contenedorForm .row .inputBox{
    position: relative;
    width: 100%;
    height:100%;
}

.contenedorForm .row .inputBox input,
.contenedorForm .row .inputBox textarea{
    position: absolute;
    width: 100%;
    height:100%;
    background: transparent;
    outline: none;
    border:none;
    z-index:1;
    padding-left: 0px;
    font-size:18px;
    color:#fff;
    border-bottom: 3px solid #26495c;
}

.contenedorForm .row .inputBox .text
{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    left:0;
    transition:0.5s;
    display:block;
    pointer-events:none;
}

.contenedorForm .row .textArea .text {
    top: 10px;
}

.contenedorForm .row .inputBox input:focus + .text,
.contenedorForm .row .inputBox input:valid + .text{
    top:-10px;
    font-size:14px;
    
}

.contenedorForm .row .inputBox input:focus,
.contenedorForm .row .inputBox input:valid,
.contenedorForm .row .inputBox textarea:focus,
.contenedorForm .row .inputBox textarea:valid{
    color:black;
}

.contenedorForm .row .inputBox textarea:focus + .text,
.contenedorForm .row .inputBox textarea:valid + .text{
    top: -5px;
    font-size: 14px;
    color:black;
}

.contenedorForm .row .inputBox .line{
    position:absolute;
    bottom:0px;
    display:block;
    width:100%;
    height:2px;
    background:#6189e8;
    transition:0.5s;
    pointer-events:none;
}

.contenedorForm .row .inputBox input:focus ~ .line,
.contenedorForm .row .inputBox input:valid ~ .line{
    height:90%;
    border-radius:2px
}

.contenedorForm .row .inputBox.textArea{
    position:relative;
    width:100%;
    height:120px;
    
}

.contenedorForm .row .inputBox textarea{
    height:100%;
    resize:none;
    padding:15px 10px 15px 0px;
}

.enviar{
    background-color:transparent;
    color:#e8c061;
    padding:8px 20px;
    border: 2px solid #e8c061;
    border-radius: 2px;
    transition:0.2s
}

.enviar:hover{
    background-color: #e8c061;
    color: #efefef;
    transition:0.2s;
}

.contenedorForm .row .inputBox textarea:focus~.line,
.contenedorForm .row .inputBox textarea:valid~.line{
    height:90%;
    border-radius: 2px
}

.privacidad{
    display:flex;
    margin-top:100px !important;
    margin-bottom:20px !important;
    gap:20px;
    align-items:center;

}

.privacidad p{
    margin:0
}

.curriculum {
    margin-top: 40px;
    font-weight: bold;
}

.curriculumButton {
    background-color: transparent;
    color: #e8c061;
    padding: 8px 20px;
    border: 3px solid #e8c061;
    border-radius: 2px;
    display: block;
    margin-top: 20px;
}

.curriculumButton:hover {
    background-color: #e8c061;
    color: #efefef;
    border: 3px solid #e8c061;

}