.form{
    width:90%;
    max-width: 500px;
    padding:10px;
    margin:auto;
    margin-bottom: 100px;
    position:relative;
}

.row{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-bottom:30px;
}

.row input, .row textarea{
    border: 3px solid #eee;
    border-radius:5px;
    height:50px;
    font-size: 22px;
    padding:5px 10px;
    outline:none;
    z-index:5;
    background-color: transparent;
}

.row span {
    position:absolute;
    left:0;
    padding-left: 20px;
    color:#eee;
    transition:ease 0.5s;
    font-size:20px;
}

.row input:focus ~ span,
.row textarea:focus ~ span,
.row input:valid~span,
.row textarea:valid~span{
    transform:translateY(-25px) translateX(30px);
    background-color:white;
    color:darkslategray;
    padding: 0px 5px;
    z-index:10;
    border-right: 2px solid darkslategray;
    border-left: 2px solid darkslategray;
}


.row input:focus,
.row textarea:focus,
.row input:valid,
.row textarea:valid {
    border: 2px solid darkslategray
}