.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/masaje2.jpg');
    background-size:cover;
    background-position: 20%;
    
    background-attachment: fixed;
    height: 100vh;
    position:relative;
} 

.main{
    position: absolute;
    top:50%;
    width: 90%;
    max-width: 500px;
    left:50%;
    transform:translate(-50%, -50%);
    color: #efefef;
    opacity: 0
}
 
.main h1{
    text-transform:uppercase;
}

.subtitulo{
    font-size:20px
}

.mainButton{
    padding:10px 20px;
    border: 3px solid #e8c061;
    background:transparent;
    border-radius:2px;
    color:#e8c061;
    transition: 0.3s;
    
}

.mainButton:hover{
    transform: translateY(-3px);
    background-color: #e8c061;
    transition:0.3s;
    border: 3px solid #e8c061;
    color:white;
}

@media screen and (max-width:600px){
    .main{
        text-align: center;
    }
}

/* @media (orientation: portrait) {
    .hero {
        max-height: 700px;
    } 
} */

@media screen and (min-width:1300px){
    .main{
        color:#efefef !important;
        width:350px;
        text-align:center;
        left:48%
    }

    .main h1 {
        font-size:60px;
    }

    .mainButton {
        display: inline !important;
    }

    
}