.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../public/winter.jpg');
    /* background-position-y: center;
    background-position-x: left;
    background-image: url('../../public/winter.jpg'); */
    background-size:cover;
    
    background-attachment: fixed;
    height: 100vh;
    position:relative;
} 

.main{
    position: absolute;
    top:50%;
    width: 90%;
    max-width: 500px;
    left:50%;
    transform:translate(-50%, -50%);
    color: #efefef;
}

.mainButton{
    padding:10px 20px;
    border: 2px solid #efefef;
    background:transparent;
    border-radius:2px;
    color:#efefef;
    transition: 0.3s;
}

.mainButton:hover{
    transform: translateY(-3px);
    transition:0.3s;
}

@media screen and (max-width:600px){
    .main{
        text-align: center;
    }
}