.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding:10px 50px;
    align-items: center;
    z-index:50;
    box-shadow: 0 10px 150px rgba(0, 0, 0, 0.1);
}

.navbar ul{
    display:flex;
    gap:20px
}



.navbar li, .titulo{
    font-weight: bold;
    letter-spacing: 2px;
    color: #e8c061;
}

.navbar .titulo img{
    width: 150px;
}

.navbar a{ 
    padding:0px 5px;
    position:relative;
}

.navbar a li:hover{
    color: #e8c061 !important;
    transition:0.5s;
}

/* .navbar a:after{
    content:"";
    width:0%;
    height: 3px;
    background-color: #efefef;
    position:absolute;
    bottom:-5px;
    left:0px;
    transition:0.3s;
    border-radius:2px;
}

.navbar a:hover:after {
    width: 100%;
    transition:0.3s
} */

.icon{
    display:none;
}

.active{
    width: 100%;
    left: 0px !important;
    transition: ease 1s !important;
}

.hidden{
    display: flex;
}

@media screen and (max-width:900px){
    .navbar ul{
        display:block
    }

    .icon{
        display:block;
        color: #fafafa;
        cursor: pointer;
    }
    
    .navbar ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        background-color: rgba(255, 255, 255, 0.3);
        left: -100%;
        gap:0px;
        margin-top: 0px;
        transition: 2s;
        z-index: 20;
        backdrop-filter: blur(4px);
    }

    .navbar a {
        font-size: 24px;
        padding:20px
    }

    
}

@media screen and (min-width:900px){
    .navbar ul {
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap: 10px;
        margin: 0px;
    }
    .active {
        width: auto;
        left: auto !important;
        transition: none;
    }

    .navbar .titulo img {
        width: 350px;
    }
        
}