.caja{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
    gap:20px;
    position: relative;
}

.caja p, .texto{
    margin: 0;
}

.caja img{
    width: 100%;
    border-radius:3px
}

.verPrograma{
    margin-top: 20px;
    padding: 8px 16px;
    border: 2px solid #6189e8;
    color:#6189e8;
    border-radius: 2px;
    background-color:#fff;
}

.verPrograma:hover{
    color:#fff;
    background-color:#6189e8;
}


@media  screen and (min-width:700px) and (max-width:900px) {
    
    .caja p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

}

@media screen and (min-width:700px){
    .caja {
        flex-direction: row;
        margin-bottom: 40px;
        }

    .caja p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .caja img {
        width: 100%;
        border-radius: 3px
    }
}