.caja{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
    gap:20px
}

.caja p, .texto{
    margin: 0;
}

.caja img{
    width: 40%;
    border-radius:3px
}