.caja{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 60px;
    gap:20px;
    position: relative;
}

.foto{
    width:40%;
}


.caja p, .texto{
    margin: 0;
}

.caja img{
    width: 100%;
    border-radius:3px
}

.verPrograma{
    margin-top: 20px;
    padding: 8px 16px;
    color:white;
    border-radius: 2px;
    background-color:#26495c;
    transition:0.5s;
}

.verPrograma:hover{
    transform: translate(-1px, -3px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s 
}

.texto{
    width:60%
}

.texto h3{
    position:relative;
    display:inline-block;
}

.texto h3::after {
    content: '';
    height: 10px;
    background-color: rgba(232, 192, 97, 0.5);
    width: 100%;
    position: absolute;
    border-radius: 1px;
    bottom: 0px;
    z-index: -1;
    left: 8px
}


@media  screen and (min-width:700px) and (max-width:900px) {
    
    .caja p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .cajaFoto {
        width: 40%
    }

}

@media screen and (min-width:700px){
    .caja {
        flex-direction: row;
        margin-bottom: 40px;
        }

    .caja p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}