.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 3.4em;
}

.contenedor h1{
    margin-bottom: 1.6em;
    padding-left: 0.25em;
}

.informacionPersonal{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: rgba(38, 73, 92, 1);
    color : white
}

.curriculum {
    margin-top: 40px;
    font-weight: bold;
}

.curriculumButton {
    background-color: transparent;
    color: #e8c061;
    padding: 8px 20px;
    border: 3px solid #e8c061;
    border-radius: 2px;
    display: block;
    margin-top: 20px;
}

.curriculumButton:hover {
    background-color: #e8c061;
    color: #efefef;
    border: 3px solid #e8c061;
}

.informacionPersonal img{
    border-radius:3px;
}





@media screen and (max-width:800px){
    .informacionPersonal{
        flex-direction:column;
    }

    .contenedor h1{
        text-align: center;
    }

    .informacionPersonal p{
        text-align: justify;
    }

}
