.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 3.4em;
}

.contenedor h1{
    margin-bottom: 1.6em;
    padding-left: 0.25em;
}

.informacionPersonal{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


.informacionPersonal img{
    border-radius:50%;
}





@media screen and (max-width:800px){
    .informacionPersonal{
        flex-direction:column;
    }

    .contenedor h1{
        text-align: center;
    }

    .informacionPersonal p{
        text-align: justify;
    }

}
