.contenedor{
    margin-top:50px
}

.tenis {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center
}

.fotoTenis {
    width: 100%;
    border-radius:2px;
    height: 100%
}

.segundaFila{
    flex-direction: column-reverse;
    margin-top:50px;
}

@media screen and (min-width:900px) {
    .tenis {
        flex-direction: row;
        height: 350px;
    }

    .parrafo{
        margin:0px;
    }

    .fotoTenis {
        width: 50%;
    }

    .segundaFila{
        flex-direction: row;
        margin-top:0px;
    }
}